.one p {
    background-color: green;
    
}
.one ::before{
    content: "Added Before";
    background-color: plum;
}

.one ::after{
    content: "Added After";
    background-color: purple;
}
.two p{
    background-color: rgb(230, 72, 72);
}

.not p{
    background-color: white;
}

.yellow{
    background-color: yellow;
}